<!--The content below is only a placeholder and can be replaced.-->

<!-- <h1>
  {{ title }}!
</h1>
<nav>
    <a routerLink="/jobs">Jobs</a>
  </nav>
<router-outlet></router-outlet> -->
<!-- <app-jobs></app-jobs>
<app-people></app-people>
<app-applications></app-applications> -->

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">Thakkar Inc.</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/jobs">Jobs</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/people">Candidates</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link" routerLink="/applications">Applications</a>
        </li>
      </ul>
    </div>
  </nav>

<!-- <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="">{{title}}</a>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/jobs">Jobs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/people">Candidates</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/applications">Applications</a>
        </li>
      </ul>
    </div>
</nav> -->
  
  <div class="container">
    <div class="jumbotron">
        <router-outlet></router-outlet>
      <!--<bs-book-form></bs-book-form>
      <bs-book-detail></bs-book-detail>
      <bs-book-list></bs-book-list>
      
      <bs-book-list></bs-book-list>
      <bs-book-detail></bs-book-detail>
      <bs-book-form></bs-book-form>-->
    </div>
  </div>


